@use 'base';

:root {
	--accent-color: #ec5280;
	--text-color: #eeeeee;
	--background-color: #1f2528;
}

body {
	margin-top: 2rem;
	margin-inline: 2rem;
	background-color: var(--background-color);
	width: 90%;
	color: var(--text-color);
	font-family: "Roboto", sans-serif;
}

header {

	h1 {
		font-size: 2rem;
	}

	img {
		max-width: 20rem;
	}
}

main {
	display: grid;
	gap: 2em;
}


.control-container {
	display: grid;
	gap: .5em;

	div {
		display: flex;
		gap: 1em;
	}
}

button {
	border: var(--accent-color) solid 1px;
	border-radius: .25em;
	background-color: transparent;
	padding-inline: .5em;
	color: var(--accent-color);
}

input {
	appearance: textfield;
	border: var(--accent-color) solid 1px;
	border-radius: .25em;
	background-color: transparent;
	color: var(--accent-color);
	text-align: center;

	&::-webkit-inner-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}
}

.pirate-midi-logo {
	color: var(--accent-color);
	font-weight: 500;
	text-transform: uppercase;

	.pirate {
		font-weight: 200;
	}
}

.status {
	position: relative;
	top: -4em;
}
