@use 'abstracts';
@use 'base';
@use 'components';


body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: "Roboto", sans-serif;
	display: grid;
	place-content: start center;
}

.wrapper {
	margin-block: 8vh;
	margin-inline: auto;
	width: 90%;
}

header {
	h1 {
		font-size: 2rem;
	}

	img {
		max-width: 14rem;
		margin-block-start: 5.5rem;
		margin-block-end: 2rem;
		margin-inline: 3rem;
	}
}

main {
	display: grid;
	gap: 2em;
}

.control-container {
	display: grid;
	gap: .5em;

	div {
		display: flex;
		gap: 1em;
	}
}

.status {
	margin-block-end: 4rem;
}