button {
	transition: all .2s ease-in-out;
	border: var(--accent-color) solid 1px;
	border-radius: .25em;
	background-color: transparent;
	padding-inline: .5em;
	padding-block: .2em;
	color: var(--accent-color);

	&:hover {
		background-color: var(--accent-color);
		color: var(--background-color);
	}

	&:active {
		transform: scale(1.1);
	}
}